* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    height:100vh;
    background:  linear-gradient(70deg, blue, #67bacf);
        
}

section {
    margin-bottom: 2rem;
}

/*......Nav...........*/
header {
    margin-bottom: 5rem;
    
}
header nav {
    background-color: lightblue;
    
}
a {
    color: blue;
}

.icons {
    cursor: pointer;
    font-size: 2rem;
    color: blue;
    margin-right: 2rem;
}

main {
    color: lightgoldenrodyellow;
}


/*..........Index (botones componentes elec y nautica)............*/


.card-p {
    width: 85%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem auto 1rem;
    border-radius: 15px;
    color: blue;
    text-align: center;
    
}

.card-p:hover {
    box-shadow: 2px 2px 11px black;
}

.card-p h2 {
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.687);
    display: inline-block;
    width: 90%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.card-p-componentes {
    background-image: url('./Paginas/Productos1/componentes_electronicos.png');
    
}

#componentes-p-b, #componentes-p-n {
    width: 50%;
    border: none;
    border-radius: 10px;
    font-size: .7rem;
    font-weight: bold;
    color: blue;
    background-color: rgba(255, 255, 255, 0.687);
}

#componentes-p-b:hover, #componentes-p-n:hover {
    background-color: blue;
    color: white;
}

.card-p-nautica {
    background-image: url('./Paginas/Productos1/nautica1.png');
}


@media(min-width:500px) {
    #componentes-p-b, #componentes-p-n {
        width: 30%;
        font-size: 1rem;
    }

    .card-p h2 {
        font-size: 1.5rem;
    }
}

/*.............Pagina componentes Electronicos.......................*/

.mainCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 1rem;
    /* place-content: center; */
    
    
}

/*..........Pagina conectores............*/
.conectoresTitles {
    margin: 1.5rem 0 1.5rem 0;
    border-bottom: 1px solid black;
    padding-bottom: 0.2rem;
}

/*.............Pagina de Presets.........................*/
.presetsParraf a{
    color: orange;
    font-weight: bold;
    font-size: 1rem;
}


/*........Náutica.............*/

.containerNautica {
    /* width: 100%; */
}

#nauticaProximamente {
    width:100%;
    height: 70vh;
    background: url('./Paginas/nautica/nauticaProximamente.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    
       
    }

#nauticaProximamente div {
    display: flex;
    align-items:start   ;
    justify-content: center;
    
}    

#nauticaProximamente div h3 {
    font-size: 2.5rem;
    color: blue;
}

/*..............footer...............*/
.footer {
    margin-top: 2rem;
    padding: 1rem 0 1rem 0;
    
}
.footer-wrap{

    color: white;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
   
}

.footer-wrap div h4 {
    font-size: 1rem;
}
